// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Base setting
body
  background-color: rgba(255,192,192,100)  // #FFC0C0
  color: rgba(255,64,64,100)               // #FF4040

// Messsage Components
.notifications
  border-radius: 4px
  border: 1px solid rgba(255,64,64,100)    // #FF4040
  background-color: rgba(255,160,160,100)  // #FFA0A0
  color: rgba(255,0,0,100)                 // #FF0000
  margin-bottom: 16px
  padding: 0.5em 1em

// Articles
.articles
  padding: 16px
  .articles__form
    .articles__form__label
    .articles__form__input
      line-height: 2em
      padding-left: 16px
      input
        padding: 8px
        width: 400px
        border-radius: 4px
        border: 1px solid rgba(255,64,64,100)    // #FF4040
        background-color: rgba(255,192,192,100)  // #FFC0C0
        color: rgba(255,64,64,100)               // #FF4040
  .articles__list
    padding: 0px
  li
    list-style: none
